<img src="/assets/img/burger_sandwich.png" />
<h1>Eat-Da-Burger!</h1>
<div class="container">
  <div class="row">
  <div class="col-6 burgerToEat">
    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-6 eatenBurger">
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  </div>
</div>
<form>
  <div><textarea rows="3" cols="40" id="burgerInput"></textarea></div>
  <button type="submit" id="submit">Submit</button>
  <div class="label">Add your burger and click submit</div>
</form>