body {
  text-align: center;
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 30px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

ul {
  list-style: none;
  padding-bottom: 20px;
}

button {
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 4px;
  background-color: #c31432;
  border-style: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #240b36;
  color:rgb(190, 190, 190);
}

textarea {
  text-align: center;
  border-color: rgb(190, 190, 190);
  border-radius: 6px;
  box-shadow: 2px 4px 4px rgb(163, 162, 162);
}

.label {
  padding-top: 20px;
  font-size: 16px;
  color: grey;
  text-align: center;
}

.burgerToEat {
  text-align: right;
}

.eatenBurger {
  text-align: left;
  color: grey;
}

